<template name="home">

{{> navbar}}
 <br/><br/>

<!-- <div class="tab-content"> -->
  <div id="home" class="tab-pane fade in active" style="text-align:center;background-image:url('../img/background.png');">    
       <!-- <a id="desktop" ><img src="img/desktop.png" alt='Desktop/Web' ></a> -->
       <a id="android" ><img src="img/android.png" alt='Android' ></a>
       <a id="iphone" ><img src="img/iphone.jpg" alt='Iphone'></a>
       <a id="ipadmini" ><img src="img/ipad.jpg" alt='Ipadmini' ></a>
   
      <!--  {{> Template.dynamic template=mobiletype}}   -->

  </div>
 
</template>