<template name="menulist">


	{{#contentFor "headerTitle"}}
	<h1 class="title">Menu</h1>
	{{/contentFor}}

	{{#ionView}}
	{{#ionContent}}

	<div style="padding-top:25px;">
		<div class="col-xs-12">	
			<div class="col-sm-4"><a class="menuitem" id="eventdetail"><img src="../EventBriefIcon_Active.png" class="imageborder img-responsive"></a>	</div>
			<div class="col-sm-4"><a class="menuitem" id="esessionlist"><img src="../img/icons/sessions.jpg" class="imageborder img-responsive"></a></div>
			<div class="col-sm-4"><a class="menuitem" id="speakerlist"><img src="../img/icons/addspeaker.jpg" class="imageborder img-responsive"></a></div>
			
		</div>
		<br/>

		<div class="col-sm-12">		
			<div class="col-sm-4"><a class="menuitem" id="attendeelist"><img src="../img/icons/addattendees.jpg" class="imageborder img-responsive"></a>	</div>
			<div class="col-sm-4"><a class="menuitem" id="addpoll"><img src="../img/icons/rating.jpg" class="imageborder img-responsive"></a></div>
			<div class="col-sm-4"><a class="menuitem" id="pollanswer"><img src="../img/icons/pollanswers.gif" class="imageborder img-responsive"></a>	</div>
			

		</div>
		<br/>
		<div class="col-sm-12">		
			<div class="col-sm-4"><a class="menuitem"><img src="../img/icons/Venue.png" class="imageborder img-responsive"></a></div>
			<div class="col-sm-4"><a class="menuitem"><img src="../img/icons/participants.jpg" class="imageborder img-responsive"></a>	</div>
			<div class="col-sm-4"><a class="menuitem" id="addattendee"><img src="../img/icons/map.jpg" class="imageborder img-responsive"></a>	</div>
			
		</div>
		<div class="col-sm-12">		
			<div class="col-sm-4"><a class="menuitem"><img src="../img/icons/Time.jpg" class="imageborder img-responsive"></a>	</div>
		</div>


	</div>
	





	{{/ionContent}}
	{{/ionView}}


</template>

<template name="menulayout">
</template>
