<template name="menulist">


	{{#contentFor "headerTitle"}}
	<h1 class="title">Menu</h1>
	{{/contentFor}}

	{{#ionView}}
	{{#ionContent}}

	<div style="padding-top:25px;">
		<div class="col-xs-12">	
			<div class="col-sm-4"><a class="menuitem" id="eventdetail"><img src="../EventsIcon.png" class="imageborder img-responsive"></a>	</div>
			<div class="col-sm-4"><a class="menuitem" id="eventdetail"><img src="../LogisticsIcon.png" class="imageborder img-responsive"></a>	</div>
			<div class="col-sm-4"><a class="menuitem"><img src="../SponsorsIcon.png" class="imageborder img-responsive"></a>	</div>		
			
  </div>
      <div class="col-xs-12">	
		<div class="col-sm-4"><a class="menuitem" id="esessionlist"><img src="../session.png" style="height:50px;"	class="imageborder img-responsive"></a></div>
		<div class="col-sm-4"><a class="menuitem" id="speakerlist"><img src="../SpeakersIcon.png" style="height:50px;"	 class="imageborder img-responsive"></a></div>
		<div class="col-sm-4"><a class="menuitem" id="attendeelist"><img src="../attendee.png" class="imageborder img-responsive"></a>	</div>
			
		</div>
		<br/>

		<div class="col-sm-12">		
			<div class="col-sm-4"><a class="menuitem" id="eventcontentlist"><img src="../content.png" class="imageborder img-responsive"></a></div>
			<div class="col-sm-4"><a class="menuitem" id="polllist"><img src="../poll.png" class="imageborder img-responsive"></a></div>
			<div class="col-sm-4"><a class="menuitem" id="pollanswer"><img src="../img/icons/pollanswers.gif" class="imageborder img-responsive"></a></div>
			

		</div>
		<br/>
		<div class="col-sm-12">		
			<div class="col-sm-4"><a class="menuitem" d="esessionlist"><img src="../img/icons/Time.jpg" class="imageborder img-responsive"></a>	</div>
			<div class="col-sm-4"><a class="menuitem"><img src="../img/icons/Venue.png" class="imageborder img-responsive"></a></div>			
			<div class="col-sm-4"><a class="menuitem" ><img src="../img/icons/map.jpg" class="imageborder img-responsive"></a>	</div>
			
		</div>
		<div class="col-sm-12">		
			
				
		</div>
	</div>

	{{/ionContent}}
	{{/ionView}}

</template>

<template name="menulayout">
</template>
