<template name="android">

	{{> navbar}}

	<div class="row">

		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div class="pull-left full responsive-container" style="opacity: 1;">
				<div class="device-wrapper port" id="google-nexus-4" style="position: relative; margin: 0px;">
					<h3 class=" full align-center">Google Nexus 4</h3><!-- pull-left -->
					<div class="device show" style="width: 272.526073176136px;">
						<img alt="Nexus-4-port" class="unit" src="../img/Nexus-4-port.jpg">
						<div class="pull-left full screen-wrapper" style="position: absolute; display: block; top: 74.9816945293031px; bottom: auto; left: 13.3925870967792px; width: 245.327845454637px; height: 361.347953423131px;">
							<div class="pull-left full screen" style="width: 265.327845454637px;">
								<div class="device-topbar" style="width: 245.327845454637px;"></div>
								<div class="device-ss-container" style="width: 245.327845454637px; overflow-y: hidden;overflow-x: hidden;">		 {{> ionNavBar class="bar-stable"}}
									{{#contentFor "headerButtonLeft"}}
									<button class="button button-clear pull-left button-positive" data-ion-modal="search">
										{{>ionNavBackButton class="button-positive" text=false}}
									</button>
									{{/contentFor}}
									{{> yield}}
								</div>					
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4"></div>
	</div>

</template>