<template name="androidcontrainer">
	<!-- <div class="row">	
		<div class="col-sm-12">
			<h4> Android body container</h4>
			Meteor is an open-source, production-ready, real-time, and cross-platform web application framework built on top of proven technology, that allows for very rapid prototyping and produces cross-platform (web, Android, iOS) code. A Tinder-like application has been built from scratch with Meteor in 6 weeks, several startups built with Meteor have already been acquired, and the number of companies using Meteor is growing.

			Meteor Development Group has received $11.2M in funding from the prestigious venture capital firm Andreessen Horowitz, who has also invested in Twitter, Airbnb, and Foursquare. Founded in 2011, Meteor was a startup incubated by YCombinator, the most successful startup incubator. Meteor founders and early employees include former Googlers, early employees at Asana, and the creator of Etherpad.

			<div class="col-sm-12">
				<div class="col-sm-6">Left</div>
				<div class="col-sm-6">right
					<img src="img/attendee1.jpg" />
					Meteor is an open-source, production-ready, real-time, and cross-platform web application framework built on top of proven technology, that allows for very rapid prototyping and produces cross-platform (web, Android, iOS) code. A Tinder-like application has been built from scratch with Meteor in 6 weeks, several startups built with Meteor have already been acquired, and the number of companies using Meteor is growing.

					Meteor Development Group has received $11.2M in funding from the prestigious venture capital firm Andreessen Horowitz, who has also invested in Twitter, Airbnb, and Foursquare. Founded in 2011, Meteor was a startup incubated by YCombinator, the most successful startup incubator. Meteor founders and early employees include former Googlers, early employees at Asana, and the creator of Etherpad.
				</div>
			</div>
		</div>
	</div> -->
	 {{> splash}}
</template>