<template name="ipadmini">

  {{> navbar}}

  <div class="row">

    <div class="col-sm-4"></div>
    <div class="col-sm-4">

      <div class="pull-left full responsive-container" id="ipadminicontainer" style="opacity: 1;     text-align: center !important;">
        <div class="device-wrapper port" id="ipadair" style="position: relative; margin-left: 0px;">
          <h3 class="pull-left full align-center">iPad Air</h3>
          <div class="device show" style="width: 672.389656526274px;">
            <img alt="Ipadair-port" class="unit img-responsive port" src="https://d3but80xmlhqzj.cloudfront.net/production/images/layout/devices/ipadair-port.png?1439549962">


            <div class="pull-left full screen-wrapper" style="position: absolute; display: block; top: 82.686476185701px; bottom: auto; left: 33.872268075656px; width:403.900004px !important; height: 522.91398908162px;">   <!-- width: 583.900004206913px; -->
            <div class="pull-left full screen" style="width: 403.900004206913px;">
                <div class="device-topbar" style="width: 577.900004px;margin-left: -85px;">
                  <img src="https://www.browserstack.com/images/layout/devices/ipadair-top-bar-port.jpg">
                  <span class="ios urlbar portrait" url="" type="domain" style="top: 6.38142081100452px; left: 132.414481828344px; width: 317.352050277887px; height: 17.8287941079381px; line-height: 17.8287941079381px; font-size: 13.5605192233846px; text-align: center;">

                  </span>
                </div>
                <div class="device-ss-container" style="width: 532.900004px;overflow-y: hidden;overflow-x: hidden;">
                  {{> ionNavBar class="bar-stable"}}
                  {{#contentFor "headerButtonLeft"}}
                  <button class="button button-clear pull-left button-positive" data-ion-modal="search">
                    {{>ionNavBackButton class="button-positive" text=false}}
                  </button>
                  {{/contentFor}}

                  {{> yield}}



                </div>                   
              </div>
            </div>
          </div>
        </div></div>

      </div>
      <div class="col-sm-4"></div>
    </div>
  </template>